<!DOCTYPE html>
<html>
<head>
    <!--Meta Declaration-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Balsamiq+Sans:wght@700&family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

    <!--Bootstrap CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!--Local Style-->
    <link rel="stylesheet" href="static/header.css">
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="static/animation.css">


    <title>DECODE-X</title>

</head>
<body>

<header>
    <h1>DECODE-X</h1>
    <div class="navBtn">
      <a href="/">Home</a>
    </div>
</header>

<main>
<!--    <h3 id="inputHead">Text Input</h3>-->
<!--    <div class="search-container">-->
<!--     <form action="" method = "post" enctype=multipart/form-data>-->
<!--     <label class="switch">-->
<!--          <input id="toggle-check" type="checkbox" name='mode'>-->
<!--          <span class="slider round"></span>-->
<!--     </label>-->
<!--      <textarea id="textSearch" class="text-search" rows="4" cols="50" placeholder="Search" name="search"></textarea>-->
<!--      <input id="imgSearch" class="photo-search" type="file" name="img">-->
<!--      <label class="switch">-->
<!--          <input id="toggle-lang" type="checkbox" name='lang'>-->
<!--          <span class="slider round"></span>-->
<!--     </label>-->
<!--     <h4 id="inputHead3">English</h4>-->
<!--     <label class="switch">-->
<!--          <input id="toggle-mode" type="checkbox" name='type'>-->
<!--          <span class="slider round"></span>-->
<!--     </label>-->
<!--     <h3 id="inputHead2">Summary Mode</h3>-->

<!--      <button type="submit">Genrate </button>-->
<!--    </form>-->
<!--  </div>-->


    <div class="row lanBody">
        <div class="col-lg-6 con1">
            <h2 id="typedTxt"></h2>
            <p id = "con1P" class="pCon1">DECODE-X helps user to summaries text and documents to simpler language which is easy to read and understand.</p>

            <!-- Animated Button -->
          <a href="" class="buttons" id="tryBtn">
            <button class="blob-btn">
              Try it Out
              <span class="blob-btn__inner">
                <span class="blob-btn__blobs">
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                  <span class="blob-btn__blob"></span>
                </span>
              </span>
            </button>
          </a>

        </div>
        <div class="col-lg-6 con2">
            CONTAINER 2
        </div>
    </div>


</main>
    <script type="text/javascript" src="static/animation.js"
    <script type="text/javascript" src="static/main.js"></script>
</body>
</html>


