<!DOCTYPE html>
<html>
<head>
    <title>DECODE-X</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css"/>
</head>
<body>

<header>
    <h1>DECODE-X</h1>
</header>
<nav>
    <div class="topnav" style=" background-color: #333;">
    <a class="active"  href="/">Home</a>
</div>
</nav>
<main>
    <h3 id="inputHead">Text Input</h3>
    <div class="search-container">
     <form action = "https://decode-x.herokuapp.com/" method = "post" enctype=multipart/form-data>
     <label class="switch">
          <input id="toggle-check" type="checkbox" name='mode'>
          <span class="slider round"></span>
     </label>
         <textarea id="textSearch" class="text-search" rows="4" cols="50" placeholder="Search" name="search"></textarea>
      <input id="imgSearch" class="photo-search" type="file" name="img">
      <label class="switch">
          <input id="toggle-mode" type="checkbox" name='type'>
          <span class="slider round"></span>
     </label>
     <h3 id="inputHead2">Summary Mode</h3>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</main>

<script type="text/javascript" src="static/main.js"></script>
</body>
</html>


