<html>
    <head>
        <title>Result | DECODE-X</title>
    </head>
    <body>
        <a href="/">Home</a>
    
        <h1>Legal</h1>
        <p>{% autoescape false %}{{legal}}{% endautoescape %}</p>
        
        <h1>Percentage Risk</h1>
        <p>{{per}}</p>
        
        <h1>Summarised Text</h1>
        <p>{% autoescape false %}{{summary}}{% endautoescape %}</p>
        
        <h1>Original Text</h1>
        <p><{% autoescape false %}{{name}}{% endautoescape %}</p>
        
    </body>
</html>
