/* Default Code */
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    overflow: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    color: #444;
}

p {
    font-family: 'Averia Serif Libre', cursive;
    color: rgb(152, 151, 151);
    line-height: 1.5;
    font-size: 1.1rem;
    margin: 8vh 0;
}

.txtBody{
    margin: 15vh 5% 5vh;
    display: flex;
    justify-content: space-between;
}
.sumTxt, .oriTxt{
    width: 40%;
}
.sumTxt h2, .oriTxt h2{
    font-size: 2.4rem;
    color: #333;
}